* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	outline: none;
}

body {
	background-color: #222;
}

.movie {
	width: 1000px;
	margin: auto;
	text-align: center;
}

.movie__title {
	margin-top: 2rem;
	color: #fff;
	font-size: 2rem;
	font-weight: normal;
}

.screen {
	width: 600px;
	height: 140px;
	margin: auto;
}

.screen__img {
	max-width: 100%;
}

.screen__title {
	transform: translateY(-5rem);
	color: #ddd;
	font-size: 1.3rem;
	font-weight: 100;
}

.hall {
	margin: auto;
	width: 440px;
	height: 280px;
	display: grid;
	grid-template: 1fr 2fr 1fr / repeat(10, 1fr);
	grid-template-areas:
		". . f f f f f f . ."
		". m m m m m m m m ."
		"b b b b b b b b b b";
}

.hall__front {
	grid-area: f;
	display: grid;
	grid-template: repeat(2, 1fr) / repeat(6, 1fr);
}

.hall__middle {
	grid-area: m;
	display: grid;
	grid-template: repeat(4, 1fr) / repeat(8, 1fr);
}

.hall__back {
	grid-area: b;
	display: grid;
	grid-template: repeat(2, 1fr) / repeat(10, 1fr);
}

.seat {
	position: relative;
	cursor: pointer;
}

.seat__input {
	appearance: none;
}

.seat__icon {
	position: absolute;
	top: -.1em;
	display: block;
	width: 100%;
	height: 100%;
	background-image: url(./img/seat.svg);
	background-repeat: no-repeat;
	background-size: 50px;
	background-position: center;
}

.seat__icon.inactive {
	background-image:url(./img/seat-inactive.svg);
}

.seat__input:checked + .seat__icon {
	background-image: url(./img/seat-checked.svg);
}

.seat__input:focus + .seat__icon {
	border: 2px solid #ddd;
	border-radius: 5px;
}
